
/*------------------------------------------------------navbar------------------------------------------------------------------*/



.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0dc0f2;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 25px;
    transition: all.5s ease;
}
.navbar ul li a:hover{
    background-color: w#fff;
    color: black;
    box-shadow: 0 0 10px #fff;
}
.navbar h2{

    text-decoration: none;
    color: #fff;
    padding: 8px 25px;
    transition: all.5s ease;
}



/*------------------------------------------------------offers page------------------------------------------------------------------*/



body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fff;

  }

  .headeroffer{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    color: black;    
    margin-bottom: 10px;
  }
.photo-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    
}

.photo {
    width: 40%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
   
}

.photo img {
    width: 95%;
    height:auto;
   
}

.photo-text {
    margin-right: 30px;
    font-size: 1.7rem;
    
}
