
/*------------------------------------------------------Generals------------------------------------------------------------------*/
*{
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.headers{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    color: black;  
    margin-bottom: 10px;  
}
/*------------------------------------------------------navbar------------------------------------------------------------------*/
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#0dc0f2;
    width: 100%;
    height: 40px;
    z-index: 1;;

}
.nav{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 15%;
}
a{

    margin: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{

color:#000;
}
.Home-area{

    position: relative;
    width: 100%;
    height: 100vh;

}



/*------------------------------------------------------offers page------------------------------------------------------------------*/



body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #fff;

  }

  .header-offer{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    color: black;    
    margin-bottom: 10px;

  }
.photo-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    
}

.photo {
    width: 40%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
   
}

.photo img {
    width: 95%;
    height:auto;
   
}

.photo-text {
    margin-right: 30px;
    font-size: 1.7rem;
    
}


/*------------------------------------------------------Footer------------------------------------------------------------------*/


.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:white;
    height: auto;
    padding-top: 40px;
    width: 100vw;
    color:white;

}
.Footer-Area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#0dc0f2;  
    margin:  auto;
    color: white;
 
    
}
#footer-paragraph{

    line-height: 28px;
    font-size: 14px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
h3{
color: #fff;
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1rem 0 3rem 0 ;

}
